<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-pink-50">
    <nav class="bg-pink-900 p-4 shadow-md">
        <div class="px-10 mx-auto flex justify-between items-center">
          <h1 class="text-white text-2xl font-semibold"><a href="/" class="text-white">RemoteOps</a></h1>
          <div class="flex space-x-4">  
            <a href="/" class="text-white text-sm  bg-pink-600 duration-300 ease-in-out hover:bg-pink-500 px-4 py-2 rounded">Home</a>
            <a href="/aiapp" class="text-white text-sm  bg-pink-600 duration-300 ease-in-out hover:bg-pink-500 px-4 py-2 rounded">AI App</a>
            <a href="/profile" class="text-white text-sm  bg-pink-600 duration-300 ease-in-out hover:bg-pink-500 px-4 py-2 rounded">Profile</a>
            <% if (user && user.role !== 'user') { %>  
              <a href="/admin" class="text-white text-sm  bg-pink-600 duration-300 ease-in-out hover:bg-pink-500 px-4 py-2 rounded">Admin</a>
            <% } %>
            <a href="/logout" class="text-white text-sm  bg-pink-600 duration-300 ease-in-out hover:bg-pink-500 px-4 py-2 rounded">Logout</a>
          </div>
        </div>
      </nav>

      <main class="p-6 px-16">
     <!-- Profile Section -->
      <section class="max-w-screen-xl px-16 py-8 mx-auto mt-20">
        <div class="w-1/2 mx-auto bg-white shadow-md rounded-lg p-8 flex justify-between items-center">
          <div>
            <h1 class="text-2xl font-semibold mb-6 text-gray-800">User Profile</h1>
            <ul class="font-semibold text-gray-800">
              <li><span>Email:</span> <%= user.email %></li>
              <li><span class="">Phone:</span> <%= user.phone %></li>
              <li><span class="">Role:</span> <%= user.role %></li>
              <li><span class="">Gender:</span> <%= user.gender %></li>
              <li><span class="">Location:</span> <%= user.location %></li>
            </ul>
          </div>
        </div>
        <a href="/" class="w-1/2 mx-auto block mt-6 bg-teal-600 text-white hover:bg-teal-700 duration-300 px-8 py-2 rounded text-center">Back to Home</a>
      </section>
    </main>
      
    <footer class="bg-pink-900 p-4 shadow-md text-center text-white fixed bottom-0 w-full mt-28 border-t border-pink-400 mt-20">
      &#169; RemoteOps
  </footer>

</body>
</html>